@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');
body {
    margin: 0;
}

footer {
    height: 2000px;
    background-color: grey;
}

@media only screen and (max-width: 768px) {
    .nav__links {
      visibility: hidden;
      opacity: 0;
      margin-top: 100px;
      background-color: gold;
      flex-direction: column;
      right: 0;
      position: absolute;
      transition: opacity 0.5s;
    }

    .link {
        margin: 10px !important; 
    }

    .nav__menu {
        display: flex !important;
    }

    .nav__menu::click
}